<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{header}}</h1>
    </div>
    <div class="panel-body">
        <!-- satuankerjaForm ketika button submit ditekan maka akan menjalankan fungsi processForm() -->
        <form name="satuankerjaForm" ng-submit="processForm(satuankerjaForm.$valid)" novalidate>
            <!-- 
            Disini terdapat validasi yang dibuat memakai dengan angular , dimana class div akan berubah menjadai 'has-error'
            ketika input nama satuankerja invalid dan kosong.    
            -->
            <div class="form-group col-sm-6" ng-class="{ 'has-error' : satuankerjaForm.nama_satuan_kerja.$invalid && satuankerjaForm.nama_satuan_kerja.$dirty || submitted && satuankerjaForm.nama_satuan_kerja.$invalid}">
                <label for="satuankerja">Nama Satuan Kerja</label>
                <!-- Input satuankerja  -->
                <input type="text" class="form-control" ng-model="statusData.nama_satuan_kerja" name="nama_satuan_kerja" placeholder="Masukan nama satuan kerja" required>
                <!-- validasi input -->
                <p ng-show="satuankerjaForm.nama_satuan_kerja.$invalid && satuankerjaForm.nama_satuan_kerja.$dirty || submitted && satuankerjaForm.nama_satuan_kerja.$invalid" class="help-block">Nama Satuan Kerja Diperlukan.</p>
            </div>
            <div class="form-group col-sm-6" ng-class="{'has-error' :satuankerjaForm.parent_unit.$invalid && satuankerjaForm.parent_unit.$dirty || submitted && satuankerjaForm.parent_unit.$invalid}">
                <label for="unit_kerja">Parent Unit Kerja</label>
                <select name="parent_unit" class="form-control" ng-model="statusData.parent_unit" required>
                    <option value="">Pilih Parent Unit Kerja</option>
                    <option ng-repeat="unit in unitkerja" ng-selected="{{unit.id == statusData.parent_unit}}" value="{{unit.id}}">{{unit.label}}</option>
                </select>
                <p ng-show="satuankerjaForm.parent_unit.$invalid && satuankerjaForm.parent_unit.$dirty || submitted && satuankerjaForm.parent_unit.$invalid" class="help-block">Parent Unit Diperlukan.</p>
            </div>
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-default">Submit</button>
                <a class="btn btn-default btn-warning" href="/backend/satuankerja" role="button">Back</a>
            </div>
        </form>
    </div>
</div>
