<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">{{statusData.nama_pegawai}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="backend/pegawai/edit/{{statusId}}/pegawai">Pegawai</a></li>
                <li><a href="backend/pegawai/edit/{{statusId}}/keluarga">Keluarga</a></li>
                <li><a href="http://localhost/simpeg/data_riwayat_pangkat/index/2">Riwayat Pangkat</a></li>
                <li><a href="http://localhost/simpeg/data_riwayat_jabatan/index/2">Riwayat Jabatan</a></li>
                <li><a href="http://localhost/simpeg/data_pendidikan/index/2">Pendidikan</a></li>
                <li><a href="http://localhost/simpeg/data_pelatihan/index/2">Pelatihan</a></li>
                <li><a href="http://localhost/simpeg/data_penghargaan/index/2">Penghargaan</a></li>
                <li><a href="http://localhost/simpeg/data_seminar/index/2">Seminar</a></li>
                <li><a href="http://localhost/simpeg/data_organisasi/index/2">Organisasi</a></li>
                <li><a href="http://localhost/simpeg/data_gaji_pokok/index/2">Gaji Pokok</a></li>
                <li><a href="http://localhost/simpeg/data_hukuman/index/2">Hukuman</a></li>
                <li><a href="http://localhost/simpeg/data_dp3/index/2">DP3</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>