<ul class="nav nav-pills nav-justified">
    <li ng-class="{ 'active' : data == 'pegawai'}"><a href="backend/pegawai/edit/{{statusId}}/pegawai">Pegawai</a></li>
    <li ng-class="{ 'active' : data == 'keluarga'}"><a href="backend/pegawai/edit/{{statusId}}/keluarga">Keluarga</a></li>
    <li ng-class="{ 'active' : data == 'riwayatpangkat'}"><a href="backend/pegawai/edit/{{statusId}}/riwayatpangkat">Riwayat Pangkat</a></li>
    <li ng-class="{ 'active' : data == 'riwayatjabatan'}"><a href="backend/pegawai/edit/{{statusId}}/riwayatjabatan">Riwayat Jabatan</a></li>
    <li ng-class="{ 'active' : data == 'pendidikan'}"><a href="backend/pegawai/edit/{{statusId}}/pendidikan">Pendidikan</a></li>
    <li ng-class="{ 'active' : data == 'pelatihanpegawai'}"><a href="backend/pegawai/edit/{{statusId}}/pelatihanpegawai">Pelatihan</a></li>
    <li ng-class="{ 'active' : data == 'penghargaanpegawai'}"><a href="backend/pegawai/edit/{{statusId}}/penghargaanpegawai">Penghargaan</a></li>
    <li ng-class="{ 'active' : data == 'seminar'}"><a href="backend/pegawai/edit/{{statusId}}/seminar">Seminar</a></li>
    <li ng-class="{ 'active' : data == 'organisasi'}"><a href="backend/pegawai/edit/{{statusId}}/organisasi">Organisasi</a></li>
    <li ng-class="{ 'active' : data == 'gajipokok'}"><a href="backend/pegawai/edit/{{statusId}}/gajipokok">Gaji Pokok</a></li>
    <li ng-class="{ 'active' : data == 'hukumanpegawai'}"><a href="backend/pegawai/edit/{{statusId}}/hukumanpegawai">Hukuman</a></li>
    <li ng-class="{ 'active' : data == 'dp3'}"><a href="backend/pegawai/edit/{{statusId}}/dp3">DP3</a></li>
</ul>