<span ng-if="kampret">
    <ng-edit affix class="subnav"></ng-edit>
</span>
<span ng-if="data == 'pegawai'">
    <ng-pegawai></ng-pegawai>
</span>
<span ng-if="data == 'keluarga'">
    <ng-keluarga></ng-keluarga>
</span>
<span ng-if="data == 'riwayatpangkat'">
    <ng-riwayat></ng-riwayat>
</span>
<span ng-if="data == 'riwayatjabatan'">
    <ng-riwayatjabatan></ng-riwayatjabatan>
</span>
<span ng-if="data == 'pendidikan'">
    <ng-pendidikan></ng-pendidikan>
</span>
<span ng-if="data == 'pelatihanpegawai'">
    <ng-pelatihanpegawai></ng-pelatihanpegawai>
</span>
<span ng-if="data == 'penghargaanpegawai'">
    <ng-penghargaanpegawai></ng-penghargaanpegawai>
</span>
<span ng-if="data == 'seminar'">
    <ng-seminar></ng-seminar>
</span>
<span ng-if="data == 'organisasi'">
    <ng-organisasi></ng-organisasi>
</span>
<span ng-if="data == 'gajipokok'">
    <ng-gajipokok></ng-gajipokok>
</span>
<span ng-if="data == 'hukumanpegawai'">
    <ng-hukumanpegawai></ng-hukumanpegawai>
</span>
<span ng-if="data == 'dp3'">
    <ng-dp3></ng-dp3>
</span>