<span ng-if="kampret">
    <ng-edit></ng-edit>
</span>
<div class="panel panel-default">
    <div class="panel-heading" ng-init="edit = true">
        <h1>{{header}}</h1>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="pegawaiForm">
            <tabset justified="true">
                <tab heading="Data Pegawai">
                    <fieldset>
                        <br />
                        <div class="form-group">
                            <label for="inputNIP" class="col-lg-2 control-label">NIP</label>
                            <div class="col-lg-10">
                                <input ng-model="statusData.nip" class="form-control" id="inputNIP" placeholder="NIP" type="text" name="nip">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNIPLama" class="col-lg-2 control-label">NIP Lama</label>
                            <div class="col-lg-10">
                                <input ng-model="statusData.nip_lama" class="form-control" id="inputNIPLama" placeholder="NIP Lama" type="text" name="nip_lama">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NoPegawai" class="col-lg-2 control-label">Nomor Pegawai</label>
                            <div class="col-lg-10">
                                <input ng-model="statusData.no_kartu_pegawai" class="form-control" name="no_kartu_pegawai" placeholder="Nomor Pegawai" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NamaPegawai" class="col-lg-2 control-label">Nama Pegawai</label>
                            <div class="col-lg-10">
                                <input ng-model="statusData.nama_pegawai" class="form-control" id="nama_pegawai" placeholder="Nama Pegawai" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Jenis Kelamin</label>
                            <div class="col-lg-10">
                                <select ng-model="statusData.jenis_kelamin" class="form-control" id="select" name="jenis_kelamin">
                                    <option selected="selected" value="">Pilih Jenis Kelamin</option>
                                    <option value="L">Laki Laki</option>
                                    <option value="P">Perempuan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Agama</label>
                            <div class="col-lg-10">
                                <select ng-model="statusData.agama" class="form-control" id="select" name="agama">
                                    <option selected="selected" value="">Pilih Agama</option>
                                    <option value="I">Islam</option>
                                    <option value="H">Hindu</option>
                                    <option value="B">Budha</option>
                                    <option value="K">Kristen</option>
                                    <option value="KP">Kristen Protestan</option>
                                    <option value="KK">Kristen Katolik</option>
                                    <option value="KH">Konghucu</option>
                                    <option value="L">Lainnya</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Status Pegawai</label>
                            <div class="col-lg-10">
                                <select name="status" class="form-control" ng-model="statusData.status" name="status.pegawai">
                                    <option value="">Pilih Status Pegawai</option>
                                    <option ng-repeat="unit in status" ng-selected="{{unit.id == statusData.status}}" value="{{unit.id}}">{{unit.label}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tempat_lahir" class="col-lg-2 control-label">Tempat Lahir / Tgl Lahir</label>
                            <div class="col-lg-5">
                                <input ng-model="statusData.tempat_lahir" class="form-control" id="tempat_lahir" placeholder="Tempat Lahir" type="text" name="tempat_lahir">
                            </div>
                            <div class="col-lg-5">
                                <p class="input-group">
                                    <input type="date" 
                                           class="form-control" 
                                           datepicker-popup="dd MMMM yyyy" 
                                           ng-model="statusData.tanggal_lahir" 
                                           is-open="opened" 
                                           datepicker-options="dateOptions"  
                                           ng-required="true" 
                                           close-text="Close" 
                                           ng-click="opened = true"
                                           max-date="maxDate"
                                           name="tanggal_lahir"
                                           />
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usia" class="col-lg-2 control-label">Usia</label>
                            <div class="col-lg-10">
                                <input ng-model="statusData.usia" class="form-control" id="usia" placeholder="Usia" type="text" name="usia">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NoNPWP" class="col-lg-2 control-label">Nomor NPWP</label>
                            <div class="col-lg-10">
                                <input ng-model="statusData.no_npwp" class="form-control" id="NoNPWP" placeholder="Nomor NPWP" type="text" name="no_npwp">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="KAP" class="col-lg-2 control-label">Kartu Askes Pegawai</label>
                            <div class="col-lg-10">
                                <input ng-model="statusData.kartu_askes_pegawai" class="form-control" id="KAP" placeholder="Kartu Akses Pegawai" type="text" name="kartu_askes_pegawai">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tgl_pns" class="col-lg-2 control-label">Tgl Pengangkatan CPNS</label>
                            <div class="col-lg-5">
                                <p class="input-group">
                                    <input type="date" 
                                           class="form-control" 
                                           datepicker-popup="dd MMMM yyyy" 
                                           ng-model="statusData.tanggal_pengangkatan_cpns" 
                                           is-open="openedtgl" 
                                           datepicker-options="dateOptions"  
                                           ng-required="true" 
                                           close-text="Close" 
                                           ng-click="openedtgl = true"
                                           max-date="maxDate"
                                           name="tanggal_pengangkatan_cpns"
                                           />
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="KAP" class="col-lg-2 control-label">Alamat</label>
                            <div class="col-lg-10">
                                <textarea ng-model="statusData.alamat" class="form-control" id="KAP" placeholder="Alamat" name="alamat"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a class="btn btn-default" href="/">Cancel</a>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </tab>
                <tab heading="Data Pangkat">
                    <br />
                    <fieldset>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Status Pegawai</label>
                            <div class="col-lg-10">
                                <select name="status" class="form-control" ng-model="statusData.status">
                                    <option value="">Pilih Status Pegawai</option>
                                    <option ng-repeat="unit in status" ng-selected="{{unit.id == statusData.status}}" value="{{unit.id}}">{{unit.label}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Golongan</label>
                            <div class="col-lg-10">
                                <select name="status" class="form-control" ng-model="statusData.golongan">
                                    <option value="">Pilih Golongan</option>
                                    <option ng-repeat="unit in golongan" ng-selected="{{unit.id == statusData.golongan}}" value="{{unit.id}}">{{unit.label}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNIPLama" class="col-lg-2 control-label">Nomor SK</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputNIPLama" placeholder="Nomor SK" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNIPLama" class="col-lg-2 control-label">Tanggal SK</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputNIPLama" placeholder="Tanggal SK" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNIPLama" class="col-lg-2 control-label">Tanggal Mulai</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputNIPLama" placeholder="Tanggal Mulai" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNIPLama" class="col-lg-2 control-label">Tanggal Selesai</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputNIPLama" placeholder="Tanggal Selesai" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-default">Cancel</button>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </tab>
                <tab heading="Data Jabatan">

                </tab>
                <tab heading="Foto Pegawai">Static content</tab>
            </tabset>
        </form>
    </div>
</div>
