<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{header}}</h1>
    </div>
    <div class="panel-body">
        <!-- lokasi_pelatihanForm ketika button submit ditekan maka akan menjalankan fungsi processForm() -->
        <form name="lokasipelatihanForm" ng-submit="processForm(lokasi_pelatihanForm.$valid)" novalidate>
            <!-- 
            Disini terdapat validasi yang dibuat memakai dengan angular , dimana class div akan berubah menjadai 'has-error'
            ketika input nama nama_lokasi invalid dan kosong.    
            -->
            <div class="form-group col-sm-6" ng-class="{ 'has-error' : lokasipelatihanForm.nama_lokasi.$invalid && lokasipelatihanForm.nama_lokasi.$dirty || submitted && lokasipelatihanForm.nama_lokasi.$invalid}">
                <label for="nama_lokasi">Nama Penghargaan</label>
                <!-- Input nama_lokasi  -->
                <input type="text" class="form-control" ng-model="statusData.nama_lokasi" name="nama_lokasi" placeholder="Masukan nama nama_lokasi" required>
                <!-- validasi input -->
                <p ng-show="lokasipelatihanForm.nama_lokasi.$invalid && lokasipelatihanForm.nama_lokasi.$dirty || submitted && lokasipelatihanForm.nama_lokasi.$invalid" class="help-block">Nama Penghargaan Diperlukan.</p>
            </div>
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-default">Submit</button>
                <a class="btn btn-default btn-warning" href="/backend/lokasipelatihan" role="button">Back</a>
            </div>
        </form>
    </div>
</div>
