<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="../">Sistem Aplikasi Kepegawaian</a>
        <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="/" >Home</a> 
            </li>
            <li class="dropdown">
                <a id="themes" href="#" data-toggle="dropdown" class="dropdown-toggle">Master <span class="caret"></span></a>
                <ul aria-labelledby="themes" class="dropdown-menu">
                    <li><a href="/backend/statuspegawai">Status Pegawai</a></li>
                    <li><a href="/backend/golongan">Golongan</a></li>
                    <li><a href="/backend/eselon">Eselon</a></li>
                    <li><a href="/backend/unitkerja">Unit Kerja</a></li>
                    <li><a href="/backend/satuankerja">Satuan Kerja</a></li>
                    <li><a href="/backend/satuankerja">PPK</a></li>
                    <li><a href="/backend/pelatihan">Pelatihan</a></li>
                    <li><a href="/backend/jabatan">Jabatan</a></li>
                    <li><a href="/backend/penghargaan">Penghargaan</a></li>
                    <li><a href="/backend/hukuman">Hukuman</a></li>
                    <li><a href="/backend/lokasipelatihan">Lokasi Pelatihan</a></li>
                    <li><a href="/backend/lokasikerja">Lokasi Kerja</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>

    </div>
</div>
